.slogan__text-container
{
    display: flex;
    justify-content: space-between;
    column-gap: 160px;
    padding-top: 115px;
    margin-bottom: 180px;
}
.slogan__title
{
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    color: #456267;
}
.slogan__text
{
    padding-top: 90px;
    max-width: 455px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #7AA3B0;
}
.slogan__subtitle
{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #456267;
}
.slider{position: relative;}
.slider__container
{
    display: flex;
    column-gap: 50px;
    overflow: hidden;
}
.slider__item
{
    max-width: 365px;
    width: 100%;
}
.slider__item img
{
    object-fit: cover;
}
.slider__item p
{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 39px;
    color: #7AA3B0;
}
.slider__arrow
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: #7AA3B0;
    border-radius: 50%;
    z-index: 100;
}
.slider__arrow.prev
{
    left: 0;
    transform: translateX(-50%);
}
.slider__arrow.next
{
    right: 0;
    transform: translateX(50%) rotate(180deg);
}
@media(max-width: 1270px)
{
    .slogan__text-container
    {
        flex-direction: column;
    }
    .slogan__text
    {
        align-self: center;
    }
}
@media(max-width: 768px)
{
    .slogan__title
    {
        font-size: 64px;
    }
    .slogan__text
    {
        padding-top: 40px;
    }
    .slogan__text-container
    {
        padding-top: 70px;
        margin-bottom: 70px;
    }
}