/* CONTACS */

.contacts__block
{
    display: flex;
}
.contacts__title
{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    display: block;
    color: #465060;
}

.contacts__map
{
    border-radius: 25px;
    flex-basis: 50%;
}

.contacts__map img
{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}


.contacts__texts
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    flex-basis: 50%;
    margin-top: 60px;
    margin-left: 50px;
}
.contacts__texts span
{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #465060;;
}

@media(max-width: 768px)
{
    .contacts__block{flex-direction: column;}
    .contacts__texts span{font-size: 28px;}
}

/* CONTACS */