<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../style/default.css">
    <link rel="stylesheet" href="../style/catalog.css">
    <title>Document</title>
</head>
<body>
    <div id="catalog" class="catalog container">
        <form action="" class="catalog__form">
            <input type="text" class="catalog__search" placeholder="Поиск...">
            <input type="text" class="catalog__filter" placeholder="Цена от...">
            <input type="text" class="catalog__filter" placeholder="Год...">
            <input type="text" class="catalog__catigary" placeholder="Категория...">
        </form>
        <div class="catalog__wrapper">
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
            <div class="catalog__card">
                <div class="cataolg__img">
                    <img src="../img/zvet.jpg" alt="">
                </div>
                <p class="cataolg__text">Танец пламени</p>
                <div class="catalog__crad-inner">
                    <div>
                        <p class="cataolg__price">2570 руб</p>
                    </div>
                    <button class="catalog__btn">В корзину</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>