<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../style/detail.css">
  <link rel="stylesheet" href="../style/default.css">
  <title>Document</title>
</head>
<body>
  <main>
    <section class="container detail">
      <div class="detail__img">
        <img src="../img/zvet.jpg" alt="">
      </div>
      <div class="detail__descriprion">
        <span class="big-text text-bold-italic">Танец пламени</span>
        <div class="detail__container">
          <span class="small-text">Чувственный аккуратный букет из роз и альстромерий, собранный в яркой алой гамме, непременно передаст послание о Ваших пылких чувствах.        </span>
        </div>
        <span class="big-text bold-text">1994 рублей</span>
        <button class="btn_get-basket">
          Добавить в карзину
        </button>
      </div>
    </section>
  </main>
</body>
</html>