<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/default.css">
    <link rel="stylesheet" href="../style/contacts.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section id="contacts" class="container">
            <span class="contacts__title">Где нас найти?</span>
            <div class="contacts__block">
                <div class="contacts__map">
                    <img src="../img/map.png" alt="">
                </div>
                <div class="contacts__texts">
                    <span>
                        Адрес: Еврейское кладбище
                    </span>
                    <span>
                        Email: goodnight@maill.ru
                    </span>
                    <span>
                        Phone: 6 666 666 66 66
                    </span>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>